.faq-block {
    .faq {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
        color: #5a5c66;
        hyphens: auto;
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    .faq-title {
        text-transform: uppercase;
        font-size: 1.0625rem;
        line-height: 1.5rem;
        color: #303242;
        margin-bottom: .6em;
    }
}
