.gif-animation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-height: 500px;
	background-color: #e0e5e9;
	.caption {
		text-transform: uppercase;
		font-size: 1.875rem;
		margin-bottom: 35px;
	}
	@include media-breakpoint-down(md) {
		min-height: auto;
		padding: $grid-gutter-width $grid-gutter-width 0;
		.caption {
			margin-bottom: 15px;
		}
	}
}