.start {
	background-color: $white;
	box-shadow: 0 0 8px rgba($black, .1);
	padding: 25px 0 15px;
	text-align: center;
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 1.5rem;

	p {
		margin: 0;
	}

	.upper {
		font-size: 2.5rem;
		line-height: 4.5rem;
		text-transform: uppercase;
	}
	@include media-breakpoint-down(sm) {
		& {
			font-size: 1.25rem;
			line-height: 1.2;
			.upper {
				font-size: 1.875rem;
				line-height: 1.2;
				margin: .5rem 0 1rem;
			}
		}
	}
}